@model Verto.Models.HomePageContent

@{
    Layout = "_Layout";
    ViewBag.Title = "My Page Title";
}
<main>
    <div>
        <title>@Model.Title</title>
    </div>
    <div>
        <div>
            <h1>@Model.Title</h1>
            <h2>@Model.Subtitle</h2>
        </div>

        <div>
            <img src="@Model.ImagePath" alt="Image" />
            <p>@Model.Description</p>
        </div>

        <div>
            <p>Last Updated: @Model.LastUpdated.ToString("MMMM dd, yyyy")</p>
        </div>
    </div>
</main>
