@model Verto.Models.HomePageViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<!-- Include the slider component -->
@Html.Partial("_Slider")

<div class=" post-container grid-container">
    <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-4">
        @foreach (var post in Model.Posts)
        {
            <div class=" post-card cell">
                <h5>@post.Title</h5>
                <div class="">
                    <img class="post-img" src="@post.ImageURL" alt="@post.Title">
                    <p class="post-content">@post.Content</p>
                </div>
                <button class="post-button">View @post.Title.Split(' ').Last()</button>
            </div>
        }
    </div>
</div>


<div class="offers-container grid-container">
    <div class="title">Special Offers</div>

    <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
        @foreach (var offer in Model.Offers)
        {
            <div class="offer-card cell">
                <img class="offer-img" src="@offer.ImageURL" alt="@offer.Title">
                <h5>@offer.Title</h5>
                <p class="offer-description">@offer.Offer</p>
            </div>
        }
    </div>
    <div class="centered-container">
        <button class="offer-button">View All Offers</button>


    </div>
</div>

<div class="category-slider-container">

    <div class="category-slider">
        @foreach (var category in Model.ProductCategories)
        {
            <div class="category-slide">
                <img src="@category.ImageURL" alt="@category.Title">
                <h3>@category.Title</h3>
            </div>
        }
    </div>

</div>




<!-- Views/Home/Index.cshtml (or your specific view) -->
<script>
    $(document).ready(function () {
        $('.slider').slick({
            dots: true,
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: true
        });

        $('.product-category-slider').slick({
            dots: true,
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: true
        });
    });
</script>
